body {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#title {
	text-align: right;
}

.nomargin {
	margin: 0px;
}

#logo {
	padding-top: 2%;
}

hr {
	height: 3px;
    background-color: #7d97ad;
}

.grey {
	color: #7d97ad;
}

article {
	display: inline;
}

.uppercase {
	text-transform: uppercase;
}

.center_align {
	text-align: center;
}

#project1 {
	padding-left: 0px;
}

#project3 {
	padding-right: 0px;
}