body {
	box-sizing: border-box;
}

.container {
	padding-top: 1%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.right_align {
	text-align: right;
}

.nomargin {
	margin: 0;
}

hr {
	height: 3px;
    background-color: #7d97ad;
}

.grey {
	color: #7d97ad;
}

article {
	display: inline;
}

.uppercase {
	text-transform: uppercase;
}

.center_align {
	text-align: center;
}

#footer {
	text-align: right;
	font-style: italic;
}

.sectionimg {
	height: auto;
	width: 600px;
}